*{
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
}

#main-header{
	width: 960px;
	height: 600px;
	background-image: url(https://placeimg.com/960/600/arch);
	color: white;
}

.header-nav{
	height: 50px;
	width: 960px;
	padding: 20px;
	text-align: right;
	position: relative;
}

.header-nav h2{
	text-align: : left;
	font-size: 12px;
}

.header-nav h2 strong{
	font-size: 18px;
}

.header-nav ul li{
	list-style: none;
	display: inline-block;
	padding: 0 10px;
	color: #333;
	font-size: 20px;
}

.header-nav ul li button{
	background-color: #B2CAB0;
	color: white;
}

.header-nav ul li a{
	text-align: center;
	text-decoration: none;
	color: white;
}

.info{
	width: 200px;
	padding: 0px, 20px;
	float: left;
	position: relative;
	font-size: 12px;
}

.info h2 strong{
	font-size: 20px;
}

.free-trial{
	width: 800px;
	height: 500px;
	position: relative;
	text-align: center;
}

.free-trial h2{
	font-size: 50px;
	text-align: center;
	padding: 200px 0 0 0;
}

.free-trial button{
	font-size: 16px;
	position: relative;
	margin: 20px;
	padding: 10px;
	background-color: green;
	color: white;
}

.title-part{
	width: 960px;
	position: relative;
	text-align: center;
}

.title-part hr{
	width: 100px;
}

.title-part h2{
	padding-top: 40px;
	font-size: 40px;
}

.title-part p{
	width: 600px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.about-us{
	width: 960px;
	height: 500px;
	position: relative;
	text-align: center;
	background-color: white;
	color: #74B8A9;
}

.about-us article{
	display: inline-block;
	width: 150px;
	margin: 20px 50px;
}

.about-us h3{
	margin: 10px;
}

.about-us article p{
	font-size: 12px;
	margin-bottom: 20px;
}

.meet-team{
	width: 960px;
	height: 500px;
	position: relative;
	text-align: center;
	background-color: white;
	color: #74B8A9;
	background-color: #E4EFE8;
}

.meet-team article{
	display: inline-block;
	width: 150px;
	margin: 20px 50px;
}

.meet-team article p{
	font-size: 12px;
	margin: 0;
	text-align: left;
}

.question{
	width: 960px;
	height: 200px;
	position: relative;
	color: white;
	background-color: #39C16A;
	text-align: right;
}

.user-ask{
	position: relative;
	text-align: left;
	float: left;
	width: 400px;
	margin: 50px
}

.user-ask h2{
	font-size: 20px;
}

.user-ask p{
	font-size: 12px;
}

.question button{
	height: 40px;
	width: 250px;
	background-color: #B2CAB0;
	color: white;
	margin: 50px;
}

.enterprise-info{
	padding: 25px;
	width: 960px;
	height: 200px;
	text-align: center;
	color: #74B8A9;
	background-color: white;	
}

.enterprise-info article{
	display: inline-block;
	width: 150px;
	margin: 0 20px;
	text-align: left;
	vertical-align: top;
}

.enterprise-data{
	font-size: 12px;
	margin: 5px;
}

.enterprise-data article h2{
	font-size: 20px;
}

.enterprise-data article h3{
	font-size: 16px;
}

#main-footer{
	width: 960px;
	padding-left: 20px;
	color: #74B8A9;
}

.hr-footer{
	width: 960px;
}